div .multiselect {
  padding: 25px;
  width: 400px; }

div .multiselect ul {
  background: #fff;
  list-style: none;
  padding: 0;
  height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  border: 1px solid #f0f0f0; }

div .multiselect input {
  width: 100%; }

div .multiselect li {
  cursor: pointer;
  border-top: 1px solid #f0f0f0; }

div .multiselect li:hover {
  background: #f0f0f0; }

div .multiselect .selected {
  background: #ddddff; }

div .multiselect .selected:hover {
  background: #e8e8ff; }

.popover {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  bottom: 42px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
  font-size: 12px;
  font-family: 'Helvetica',sans-serif;
  left: -95px;
  padding: 7px 10px;
  position: absolute;
  width: 200px;
  z-index: 4; }
  .popover:before {
    border-top: 7px solid rgba(0, 0, 0, 0.85);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute; }
